<div class="navbar">
  <div class="navbar-icons">
    <%= link_to expo_exhibitors_path(@expo), class:"white-icons" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div id="empty-div"></div>
  <div class="navbar-icons">
    <div class="favorite-cont">
      <%= link_to send_data_exhibitor_path(@exhibitor), class:"white-icons" do %>
        <i class="fas fa-share-alt"></i>
      <% end %>
    </div>
    <div class="favorite-cont white-icons">
    <%= render 'components/favorite', expo: @expo, exhibitor: @exhibitor, fill_color: 'white' %>
    </div>
    <div class="favorite-cont" id= '<%="#{@exhibitor.id}a"%>'>
    <%= render 'components/visited_exhibitor_show', favorite: current_user.favorites.find_by(exhibitor_id: @exhibitor.id), exhibitor: @exhibitor if current_user != nil %>
  </div>
  </div>

</div>

