<div class="navbar">
  <div class="navbar-icons">
    <%= link_to expo_exhibitors_path(@expo), class:"white-icons" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
  </div>
  <div id="empty-div"></div>
  <div class="navbar-icons">
    <div class="favorite-cont">
      <div class="white-icons">
        <%# link_to send_data_exhibitor_path(@exhibitor), class:"white-icons" do %>
        <button id= 'modal-button-email' <%= 'data-toggle=modal data-target=#exampleModal' if current_user%>>
          <i class="fas fa-share-alt white-icons"></i>
        </button>
        <%# end %>
      </div>
    </div>
    <div class="favorite-cont white-icons">
    <%= render 'components/favorite', expo: @expo, exhibitor: @exhibitor, fill_color: 'white' %>
    </div>
    <div class="favorite-cont" id= '<%="#{@exhibitor.id}a"%>'>
    <%= render 'components/visited_exhibitor_show', favorite: current_user.favorites.find_by(exhibitor_id: @exhibitor.id), exhibitor: @exhibitor if current_user != nil %>
  </div>
  </div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p>Please confirm the export of all notes collected for <%= @exhibitor.name %>. A PDF will be send to your account’s email address:</p>
        <div class="email-div">
          <p id= 'user-email-p'><%= current_user.email if current_user%></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-blank cancel-button" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-blank confirm-button" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>
