<div class="expo-header" style="background-image: url('<%= cl_image_path expo.cover_pic %>')">
  <%= render 'components/expo_navbar', expo: expo %>
  <div class="exhibitor-header-white-box">
      <% expo.start_date.month == expo.start_date.month ? start_d = expo.start_date.day.to_s + '.' : start_d = expo.start_date.strftime('%d. %b')%>
      <p><%= start_d %> - <%= expo.end_date.strftime('%d. %b %Y') %></p>
      <h1><%= expo.name %></h1>
  </div>
</div>
