<h3>MEMOS</h3>


<!-- <input id="display-overlay"
       type="button"
       value="ADspaly"> -->


<!-- The overlay -->
  <div id="overlay" class="no-show">
    <div id="btn-close"><i class="fas fa-times"></i></div>
    <div id="overlay-box">
      <%= form_with(model: note, url: [@exhibitor, note], remote: true) do |form| %>
        <div class="field">
          <%= form.rich_text_area :message %>
          <%= form.submit 'Create note', id: 'btn-note'%>
        </div>
      <% end %>
    </div>
  </div>

<!-- The notes block -->
<div class="row">
  <div class="col-xs-12">
    <div id="display-overlay" class ="memos-box flex-align-single-item">
      <!-- <h3 class="light-font remove-margin"><i class="fas fa-plus"></i> Add memo</h3> -->
     <%= cl_image_tag('https://res.cloudinary.com/dfcud6por/image/upload/c_mpad,h_100,w_100/v1543412664/noun_Plus_341859.png', :width=>50, :height=>50, :crop=>"fill") %>
    </div>
  </div>
</div>

<div id="memo-block">
  <% @notes.each do |note|%>
    <%= render 'components/memo', note: note%>
  <% end %>
</div>
