<h3>MEMOS</h3>


<!-- <input id="display-overlay"
       type="button"
       value="ADspaly"> -->


<!-- The overlay -->
  <div id="overlay" class="no-show">
    <div id="btn-close"><i class="fas fa-times"></i></div>
    <div id="overlay-box">
      <%= form_with(model: note, url: [@exhibitor, note], remote: true) do |form| %>
        <div class="field">
          <%= form.rich_text_area :message %>
          <%= form.submit 'Create note', id: 'btn-note'%>
        </div>
      <% end %>
    </div>
  </div>

<!-- The notes block -->
<div class="row">
  <div class="col-xs-12">

    <div class= 'user_memos_error <%= 'no-show' unless Note.written_by(current_user).for_exhibitor(@exhibitor).empty? %>'>
      <div class="no-memos">
        <p>Click</p>
        <div class="photo-icon-div">
          <i class="fas fa-plus-circle"></i>
        </div>
        <p>to add Memos!</p>
      </div>
    </div>
<!--     <div id="display-overlay" class ="memos-box flex-align-single-item">
      <h3 class="light-font remove-margin"><i class="fas fa-plus"></i> Add memo</h3>
    </div> -->
  </div>
</div>

<div id="memo-block">
  <% @notes.each do |note|%>
    <%= render 'components/memo', note: note%>
  <% end %>
</div>
