<!-- <div class="exhibitor-picutres"> -->
  <h3 >PICTURES</h3>

  <div class="add-picture-form">
    <%= simple_form_for([ @exhibitor, @picture ], remote: true) do |f| %>
      <%= f.input :user_id, input_html: {value: "#{current_user.id}", class: "hidden"}, :label => false %>
      <%= f.input :exhibitor_id, input_html: {value: "#{@exhibitor.id}", class: "hidden"}, :label => false %>
      <%= f.input :pic, input_html: {class: "hidden", id: "button-photo-upload"}, :label => false %>
      <%= f.input :pic_cache, as: :hidden %>
      <%= f.submit "Submit", class: "hidden button-submit" %>
    <% end %>
  </div>
    <div class="user-pic-flexbox">

      <div class= 'user_photos_error <%= 'no-show' unless Picture.taken_by(current_user).for_exhibitor(@exhibitor).empty? %>'>
        <div class="no-favorites">
          <p>Click</p>
          <div class="photo-icon-div">
            <i class="fas fa-plus-circle"></i>
          </div>
          <p>to add Pictures!</p>
        </div>
      </div>

      <div id="add-icon" class ="user-pic-thumnail">
        <!-- <h3 class="light-font remove-margin"><i class="fas fa-plus"></i> Add pic</h3> -->
        <%# cl_image_tag('https://res.cloudinary.com/dfcud6por/image/upload/c_mpad,h_100,w_100/v1543412664/noun_Plus_341859.png', :width=>100, :height=>100, :crop=>"mpad") %>
      </div>
      <% @pictures.each do |picture|%>
        <%= render "components/thumnail_pic", pic: picture.pic %>
      <% end %>
    </div>
<!-- </div>
 -->
