function reRenderStar() {
  let favorite_containers = document.getElementById('<%= @exhibitor.id %>');

  if (document.querySelector('.fa-arrow-left') === null) {
  let html = '<%= j render "components/favorite", favorite: @favorite, exhibitor: @exhibitor, fill_color: "#160C28"  %>';
  favorite_containers.innerHTML = html
  }else {
  let html = '<%= j render "components/favorite", favorite: @favorite, exhibitor: @exhibitor, fill_color: "white"  %>';
  favorite_containers.innerHTML = html
  }

  if ('<%= @flash_message %>' !== 'false') {
    $('.flash-message').fadeIn(400);
    $('.flash-message').html('<p><%= @flash_message %></p>');
    $('.flash-message').delay(1200).fadeOut(500);
  }
}

reRenderStar()
