<div class="page">

  <%= render 'components/exhibitor_banner', exhibitor: @exhibitor %>


  <div class="exhibitor-description <%= 'no-show' if @favorite %>">
    <h3>LOCATION</h3>
    <p ><%=  @exhibitor.location %></p>
    <h3>DESCRIPTION</h3>
    <p ><%= @exhibitor.description %></p>
  </div>


  <div class="exhibitor-user-page <%= 'no-show' unless @favorite %>">

    <% if current_user.nil? %>
      <div class= "empty-box">
        <div class="exhibitor-item" style="margin-right: 5%;">
          <div class="exhibitor-info">
            <h2>Please Sign in to add to see your Pictures !</h2>
          </div>
        </div>
      </div>
    <% else %>
      <div id="pictures-container">
          <%= render 'pictures_area' %>
      </div>
      <div id="memos-container">
          <%= render 'notes_area', note: @note %>
      </div>
    <% end %>
  </div>

  <%#= link_to "Send PDF by email", send_data_exhibitor_path(@exhibitor) %>
  <%= render 'components/exhibitor_tabs' %>
</div>


<%= content_for :after_js do %>
  <%= javascript_pack_tag "picture_upload" %>
  <%= javascript_pack_tag "overlay_notes" %>
<% end %>
