<div class="page">

  <%= render 'components/exhibitor_banner', exhibitor: @exhibitor %>

  <div class="exhibitor-description">
    <p class="blocks">Location :</p>
    <p class="blocks"><%=  @exhibitor.location %></p>
    <p class="blocks">Descritpion :</p>
    <p class="blocks"><%= @exhibitor.description %></p>
  </div>


  <div class="exhibitor-user-page no-show">

    <% if current_user.nil? %>
      <div class= "empty-box">
        <div class="exhibitor-item" style="margin-right: 5%;">
          <div class="exhibitor-info">
            <h2>Please Sign in to add to see your Pictures !</h2>
          </div>
        </div>
      </div>
    <% else %>
      <%= render 'pictures_area' %>
      <%= render 'notes_area', note: @note %>
    <% end %>
  </div>
  <%= render 'components/exhibitor_tabs' %>
</div>


<%= content_for :after_js do %>
  <%= javascript_pack_tag "picture_upload" %>
<% end %>
