
<div id="display-all-pictures no-show">
  <%= render "pictures/display_all_pictures", pictures: @pictures %>
</div>

<div class="page">

  <%= render 'components/exhibitor_banner', exhibitor: @exhibitor %>


  <div class="exhibitor-description <%= 'no-show' if @favorite %>">
    <h3>LOCATION</h3>
    <p ><%=  @exhibitor.location %></p>
    <h3>DESCRIPTION</h3>
    <p ><%= @exhibitor.description %></p>
  </div>


  <div class="exhibitor-user-page <%= 'no-show' unless @favorite %>">

    <% if current_user.nil? %>
      <div class= "empty-box">
        <div class="exhibitor-item" style="margin-right: 5%;">
          <div class="exhibitor-info" id='sign_in_button'>
              <h2>Please log in to add and view your notes!</h2>
              <%= link_to("Log in here", new_user_session_path,  class: "btn btn-blank") %>
          </div>
        </div>
      </div>
    <% else %>

      <div id="pictures-container">
          <%= render 'pictures_area' %>
      </div>
      <div id="memos-container">
          <%= render 'notes_area', note: @note %>
      </div>
    <% end %>
  </div>

  <%= render 'components/exhibitor_tabs' %>
</div>

<div class="flash-message-box">
  <div class="flash-message">
  </div>
</div>

<div class="fixed-action-btn <%= 'no-show' unless @favorite %>" >
  <div>
    <div class='options-button' id="photo-upload"><i class="fas fa-camera"></i></div>
    <div class='options-button' id='add-notey' ><i class="fas fa-edit"></i></div>
  </div>
  <div class="main-floating-button" id= 'clicky-button'>
    <i class="fas fa-plus"></i>
  </div>
</div>

<%= content_for :after_js do %>
  <%= javascript_pack_tag "picture_upload" %>
  <%= javascript_pack_tag "overlay_notes" %>
<% end %>
