<div class="page">

  <%= render 'components/exhibitor_banner', exhibitor: @exhibitor %>

<div class="exhibitor-description" style="display: none">
  <p class="blocks"><%=  @exhibitor.location %></p>
  <p class="blocks"><%= @exhibitor.description %></p>
</div>

<div class="exhibitor-notes" style="display: block">
  <div class="col-xs-4 small-padding">
    <div class="add-picture square">
      <img id="add-icon" src="<%= cl_image_path 'noun_Plus_341859.png'%>">
    </div>
  </div>
    <% @pictures.each do |picture|%>
      <div class="col-xs-4 small-padding">
          <div class="pic-display square" style="background-image: url('<%= cl_image_path picture.pic %>')">
          </div>
      </div>
    <% end %>
  </div>
</div>


  <%= render 'components/exhibitor_tabs' %>

</div>
<!-- style ="background: url(<%= cl_image_path 'noun_Plus_341859.png'%> -->
