function reRenderCheck() {
  //footprint icon update
  let check_containers = document.getElementById('<%= @exhibitor.id %>a');

  if (document.querySelector('.fa-arrow-left') === null) {
  let html = '<%= j render "components/visited", favorite: current_user.favorites.find_by(exhibitor_id: @exhibitor.id), exhibitor: @exhibitor %>';
  check_containers.innerHTML = html
  }else {
  let html = '<%= j render "components/visited_exhibitor_show", favorite: current_user.favorites.find_by(exhibitor_id: @exhibitor.id), exhibitor: @exhibitor if current_user != nil %>';
  check_containers.innerHTML = html
  }
                          
  //progress bar update
  let progress_wrapper = document.getElementById('progress-wrapper');
  const progress_html = '<%= j render "components/visited_progress", favorites: current_user.favorites.count, visited: current_user.favorites.where(visited: true).count %>'
  progress_wrapper.innerHTML = progress_html
  //flash message update
  if ('<%= @flash_message %>' !== 'false') {
    $('.flash-message').fadeIn(400);
    $('.flash-message').html('<p><%= @flash_message %></p>');
    $('.flash-message').delay(1200).fadeOut(500);
  }
}

reRenderCheck()

