<div class="max-width-wrapper-about">
  <%= cl_image_tag "https://res.cloudinary.com/dfcud6por/image/upload/v1543926067/expo-buddy/logos/foot-prints-top-left.svg", id:"foot-prints-top-left"  %>
  <div class="devise-form overall-flex">
    <h1>About EXPObuddy</h1>

    <div class="flex-wrapper-about">
      <div class="flex-inner first-pic-row-about">
        <div class="right-align">
          <h3 class="name-line">Marton</h3>
          <%= link_to 'https://github.com/lirchfein' do %>
            <h3><i class="fab fa-github-square"></i></h3>
          <% end %>
        </div>
        <div class="member-pic" style="background-image: url('<%= cl_image_path 'https://res.cloudinary.com/dfcud6por/image/upload/v1543703650/Guardians/lirchfein.jpg' %>'); background-size: cover !important;
            background-position: top;">
        </div>
        <div class="member-pic" style="background-image: url('<%= cl_image_path 'https://res.cloudinary.com/dfcud6por/image/upload/v1543703650/Guardians/sophierost.jpg' %>'); background-size: cover !important;
            background-position: top;">
        </div>
        <div class="left-align">
          <h3 class="name-line">Sophie</h3>
          <%= link_to 'https://github.com/lirchfein' do %>
            <h3><i class="fab fa-github-square"></i></h3>
          <% end %>
        </div>
      </div>
      <div class="flex-inner">
        <div class="right-align">
          <h3 class="name-line">Wiebke</h3>
          <%= link_to 'https://github.com/lirchfein' do %>
            <h3><i class="fab fa-github-square"></i></h3>
          <% end %>
        </div>
        <div class="member-pic" style="background-image: url('<%= cl_image_path 'https://res.cloudinary.com/dfcud6por/image/upload/v1543703650/Guardians/wjfrey.jpg' %>'); background-size: cover !important;
            background-position: top;">
        </div>
        <div class="member-pic" style="background-image: url('<%= cl_image_path 'https://res.cloudinary.com/dfcud6por/image/upload/v1543703650/Guardians/pjelkmann.jpg' %>'); background-size: cover !important;
            background-position: top;">
        </div>
        <div class="left-align">
          <h3 class="name-line">Paul</h3>
          <%= link_to 'https://github.com/lirchfein' do %>
            <h3><i class="fab fa-github-square"></i></h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="container md-margin-top">
  <p>This project was created in November 2018 during the 7th week of the Le Wagon Bootcamp Berlin - Batch #195.

  The goal was to recreate the basic functionalities of Airbnb, i.e. the search, the booking as well as the offering of flats online. In order to make this project more interesting, teams were free to decide what kind of "product" they would offer instead of flats.

  We decided to go for a platform of "guardians", i.e. "superheroes". Users can book a guard to go on their mission. Likewise users can create their secret identities to be hired as a heroes.

  We hope you enjoy this project as much as we did creating it!

  Cheers!</p>
</div>
