<div class="max-width-wrapper-about">
  <%= cl_image_tag "https://res.cloudinary.com/dfcud6por/image/upload/v1543926067/expo-buddy/logos/foot-prints-top-left.svg", id:"foot-prints-top-left"  %>
  <div class="devise-form overall-flex">
    <h1>About EXPObuddy</h1>

    <div class="flex-wrapper-about md-margin-top">
      <div class="flex-inner first-pic-row-about">
        <div class="right-align">
          <h3 class="name-line">Marton</h3>
          <%= link_to 'https://github.com/lirchfein', class:"dt-link" do %>
            <h3><i class="fab fa-github-square"></i></h3>
          <% end %>
        </div>
        <div class="member-pic" style="background-image: url('<%= cl_image_path 'https://res.cloudinary.com/dfcud6por/image/upload/v1544119573/expo-buddy/marton-green.png' %>'); background-size: cover !important;
            background-position: top;">
            <%= link_to 'https://github.com/lirchfein', class:"mobile-link", id:"marton" do %>
              <h3><i class="fab fa-github-square"></i></h3>
            <% end %>
        </div>
        <div class="member-pic" style="background-image: url('<%= cl_image_path 'https://res.cloudinary.com/dfcud6por/image/upload/v1544119573/expo-buddy/sophie-green.png' %>'); background-size: cover !important;
            background-position: top;">
            <%= link_to 'https://github.com/sophierost', class:"mobile-link", id:"sophie" do %>
              <h3><i class="fab fa-github-square"></i></h3>
            <% end %>
        </div>
        <div class="left-align">
          <h3 class="name-line">Sophie</h3>
          <%= link_to 'https://github.com/sophierost', class:"dt-link" do %>
            <h3><i class="fab fa-github-square"></i></h3>
          <% end %>
        </div>
      </div>
      <div class="flex-inner">
        <div class="right-align">
          <h3 class="name-line">Wiebke</h3>
          <%= link_to 'https://github.com/wjfrey', class:"dt-link" do %>
            <h3><i class="fab fa-github-square"></i></h3>
          <% end %>
        </div>
        <div class="member-pic" style="background-image: url('<%= cl_image_path 'https://res.cloudinary.com/dfcud6por/image/upload/v1544119573/expo-buddy/wiebke-green.png' %>'); background-size: cover !important;
            background-position: top;">
            <%= link_to 'https://github.com/wjfrey', class:"mobile-link", id:"wiebke" do %>
              <h3><i class="fab fa-github-square"></i></h3>
            <% end %>
        </div>
        <div class="member-pic" style="background-image: url('<%= cl_image_path 'https://res.cloudinary.com/dfcud6por/image/upload/v1544119675/expo-buddy/paul-green.png' %>'); background-size: cover !important;
            background-position: top;">
            <%= link_to 'https://github.com/pjelkmann', class:"mobile-link", id:"paul" do %>
              <h3><i class="fab fa-github-square"></i></h3>
            <% end %>
        </div>
        <div class="left-align">
          <h3 class="name-line">Paul</h3>
          <%= link_to 'https://github.com/pjelkmann', class:"dt-link" do %>
            <h3><i class="fab fa-github-square"></i></h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="max-width-wrapper">
  <div class="md-margin-top explanatory-text-about text-full-width">
    <p>This project was created in November / December 2018 in the scope of the Le Wagon Bootcamp Berlin - Batch #195.</p>

     <p>The goal was to create an MVP within 2 weeks. The team decided to go for an app aimed at sales managers and other professional expo-visitors, helping them organize their multiple expo visits!</p>

     <p>Currently the app is built around consumer electronics, however, more content is likely to follow soon!</p>

     <p>Until then: Happy Expo-ing!</p>
  </div>
</div>
