<div id='ex-pics'>
  <% @pictures.each do |picture| %>
    <%= cl_image_tag(picture.pic, :width=>250, :height=>250, :gravity=>"east", :crop=>"fill") %>
  <% end %>
</div>


<%= simple_form_for([ @exhibitor, @picture ], remote: true) do |f| %>
  <%= f.input :user_id, input_html: {value: "#{current_user.id}"} %>
  <%= f.input :exhibitor_id, input_html: {value: "#{@exhibitor.id}"} %>
  <%= f.input :pic %>
  <%= f.input :pic_cache, as: :hidden %>
  <%= f.submit "Submit", class: "hidden button-submit" %>
<% end %>
