<!DOCTYPE html>
<html>
  <head>
    <title>ExpoBuddy | Organize all your expos and exhibitor information - in just one single app!
</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->


    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
  </head>
  <body>
    <%#= render 'components/sidebar' %>
    <%#= render 'shared/navbar' %>
    <%# render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :after_js  %>
  </body>
</html>
